.contact {
  margin-top: 10%;
  padding: 10px;
  font-family: "Jura", sans-serif;
}

.contact_container_left_col {
  object-fit: contain !important;
  padding-right: 20px !important;
}

.contact_container_right_col {
  background-color: rgb(255, 140, 46);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.contact_container_right_col h1 {
  margin: 5% 22%;
  font-weight: 800;
  font-size: 3vw;
}
.contact_container_right_col Button {
  width: 50%;
  /* position: relative; */
  /* left: 25%; */
  margin: 5% 24%;
}

.form_label {
  font-weight: 800;
}
.contact_row2_col1 {
  padding: 10%;
  font-weight: 800;
  text-align: center;
}
.contact_row2_col2 {
  padding: 10%;
  text-align: center;
}
.contact_row2_col1 h3 {
  font-weight: 800;
}
.contact_row2_col1 h3::after {
  content: " ";
  height: 4px;
  width: 4vw;
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  margin-right: auto;
  margin-left: auto;
  background: #8f4;
}
.contact_row2_col2 h3 {
  font-weight: 800;
}
.contact_row2_col2 p {
  font-weight: 800;
}
.contact_row2_col2 h3::after {
  content: " ";
  height: 4px;
  width: 4vw;
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  margin-right: auto;
  margin-left: auto;
  background: #8f4;
}

@media only screen and (max-width: 450px) {
  .contact {
    margin-top: 25%;
  }
  .contact_container_left_col_img {
    width: 100%;
    height: auto;
  }
  .contact_container_right_col h1 {
    font-size: 7vw;
  }
}
