.home {
  width: 100%;
  background-color: #02031a;
  color: aliceblue;
  font-family: "Jura", sans-serif;
  z-index: -1;
  padding-bottom: 0 !important;
  /* -webkit-mask-image: linear-gradient(180deg, #000, transparent); */
}
.particles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: auto;
  height: auto;
}
.home_container {
  padding: 150px 40px 0px 40px !important;
  z-index: 1;
}

.home_container_col1 {
  align-items: center;
  justify-content: space-around;
  padding-top: 80px;
  object-fit: contain;
}
.home_container_col1 h1 {
  font-weight: 800;
  font-size: 6vw;
  animation: mymove 5s infinite;
  z-index: 999;
  background: rgba(4, 4, 153, 0.2);
  /*  rgba(7, 16, 141, 0.2); */
  padding-left: 5px;
  border-radius: 10px;
}
.home_container_col1 h1:hover {
  text-shadow: -2px 2px white;
  /* transform: scale(1.2); */
}

.home_container_col1_h3 {
  font-weight: 600;
}
.home_container_col1_h3::after {
  content: " ";
  height: 2px;
  width: 19vw;
  display: inline-block;
  margin-left: 5%;
  transform: translate(-10px);
  background: #fff;
}

.home_icons {
  position: relative;
  top: 20px;
}
.home_icons_icon {
  margin-right: 18px;
  size: 3vw;
}
.home_icons_icon:hover {
  color: #8f2;
}
.home_container_col2 {
  /* align-items: center; */
  justify-content: center;
  z-index: 999;
}

.home_container_col2 > img {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
  /* box-shadow: 0px 0px 5px 4px #000; */
}

.home_container_col2 > img:hover {
  animation: spin 1000ms;
}

@keyframes spin {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

/* For width 400px and larger: */
@media only screen and (max-width: 450px) {
  .home_container_col2 > img {
    margin-top: 70px;
  }
}

@media only screen and (max-width: 450px) {
  .home_container_col1 {
    margin-top: -130px;
    text-align: center;
  }
  .home_container_col1 h1 {
    text-shadow: -1px 2px white;
    font-size: 14vw;
  }

  .home_container_col1_h3::after {
    width: 10px;
  }
}

@keyframes mymove {
  from {
    color: orangered;
  }
  to {
    color: #8f2;
  }
}
